<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hikcreate.baidutextdect">

    <application
        android:allowBackup="false"
        android:label="@string/baidu_app_name">
        <activity
            android:name=".IDCardActivity"
            android:label="@string/baidu_idCardLabel" />
        <activity
            android:name="com.baidu.ocr.ui.camera.CameraActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />
    </application>
</manifest>
